version: '3.8'

services:
  postgres:
    image: postgres:17-alpine
    container_name: football_arena_db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres123
      POSTGRES_DB: football_arena
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:

